.nav_wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	padding: 40px 0 0 0;
	background-color: aquamarine;
	transition: transform 0.5s ease;
}
.nav_close {
	position: absolute;
	right: 10px;
	top: 10px;
}
.nav_open {
	position: absolute;
	left: 10px;
	top: 10px;
}
.nav_wrap_visible {
	transform: translateX(300px);
}
.main_cont_01 {
	padding: 40px 0 0 0;
	background-color: beige;
	transition: transform 0.5s ease;
}